h1,.cbp-contentslider h3,.cbp-contentslider p{
    color:black;    
}
.cbp-contentslider h3{
    border-bottom:4px solid black;
}
.cbp-contentslider{
    border: 4px;
}

.content{
    margin-top: 20px;
    word-spacing: 5px;
}